.wrapper {
  padding: 1rem 8rem;
}
.only-flex {
  display: flex;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacebet-flex {
  display: flex;
  justify-content: space-between;
}
.space-evenly-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.margin-vertical-2rem {
  margin: 2rem 0;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.bg {
  background-image: linear-gradient(134deg, #00ffa3 0%, #4baef7 100%);
}
.basebg {
  background-color: #00ffa4;
}
.height-100vh {
  height: 100vh;
}
.height-100vh-72px {
  height: calc(100vh - 72px);
}
.pt-1 {
  padding-top: 1rem;
}
.padding-none {
  padding: none;
}
