@media all and (max-width: 500px) {
  html {
    font-size: 16px;
  }
  .rwrapper {
    padding: 1rem;
  }
  .r-d-block {
    display: block;
  }
  .r-d-none {
    display: none;
  }
  .r-d-inline {
    display: inline;
  }
  .float-left {
    float: left;
  }
  .height-fit {
    height: fit-content;
  }
  .width-full {
    width: 100%;
  }
  .rpt-1 {
    padding-top: 1rem;
  }
  .rp-1 {
    padding: 1rem;
  }
  .rpd-vertical-1rem {
    padding: 1rem 0;
  }
  .rpd-vertical-2rem {
    padding: 2rem 0;
  }
  .rm-vertical-1rem {
    margin: 1rem 0;
  }

  .fs-1 {
    font-size: 1rem;
  }
  .fs-1-3 {
    font-size: 1.3rem;
  }
  .fs-1-5 {
    font-size: 1.5rem;
  }
  .fs-2 {
    font-size: 2rem;
  }
  .fs-2-3 {
    font-size: 2.3rem;
  }
  .fs-2-5 {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 760px) {
  html {
    font-size: 16px;
  }
  .rwrapper {
    padding: 1rem;
  }
  .r-d-block {
    display: block;
  }
  .r-d-none {
    display: none;
  }
  .r-d-inline {
    display: inline;
  }
  .float-left {
    float: left;
  }
  .height-fit {
    height: fit-content;
  }
  .width-full {
    width: 100%;
  }
  .rpt-1 {
    padding-top: 1rem;
  }
  .rp-1 {
    padding: 1rem;
  }
  .rpd-vertical-1rem {
    padding: 1rem 0;
  }
  .rpd-vertical-2rem {
    padding: 2rem 0;
  }
  .rm-vertical-1rem {
    margin: 1rem 0;
  }

  .fs-1 {
    font-size: 1rem;
  }
  .fs-1-3 {
    font-size: 1.3rem;
  }
  .fs-1-5 {
    font-size: 1.5rem;
  }
  .fs-2 {
    font-size: 2rem;
  }
  .fs-2-3 {
    font-size: 2.3rem;
  }
  .fs-2-5 {
    font-size: 2.5rem;
  }
}
