.hero-section1 {
  text-align: center;
  align-items: center;
  // background-color: $herobg;
}
.hero-text {
  font-size: 4.5rem;
  font-weight: 700;
  // color: #353e44;
  color: #171724;
  line-height: 1.25;
}
.hero-caption {
  font-size: 1.5rem;
  font-weight: 400;
  // color: #353e44;
  color: #171724;
  // color: #171e2f;
  line-height: 1.5;
  letter-spacing: 0.06rem;
}
.hero-btn {
  // background-color: #212b36;
  background-color: #171e2f;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.06rem;
  margin: 1rem 0;
  outline: none;
  border: transparent;
  // font-family: 'Roboto', sans-serif;
}

// sec1
.sec1 {
  height: 450px;
  padding: 1rem 0;
  background-color: #fafafa;
}
.sec1item {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec1item-img {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
}
.sec1item-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.04rem;
  text-align: center;
  color: #171724;
}
.sec1item-subheading {
  opacity: 0.6;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  color: #171724;
}
.sec1-btn {
  // background-color: #212b36;
  background-color: black;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.06rem;
  margin: 1rem;
  outline: none;
  border: transparent;
}

// sec2
.sec2 {
  // background-color: #171724;
  // background-color: rgb(23, 30, 48);
  background-color: black;
  padding: 4rem 0;
}
.sec2-heading {
  // font-family: ProximaNova;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: #fff;
}
.sec2-content-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  padding-top: 3rem;
}
.sec2-li-item-cont {
  padding: 1rem 0;
  border-radius: 0.5rem;
}
.sec2-li-item {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  list-style: none;
  letter-spacing: 0.04rem;
  text-align: center;
  line-height: 1.5;
}
.sec2-li-item-span {
  color: black;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  line-height: 1.5;
  text-align: center;
}
.sec2-content-para {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  padding: 3rem 0;
}
.sec2-btn {
  background-color: white;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  letter-spacing: 0.06rem;
  outline: none;
  border: transparent;
}

// sec3
.sec3 {
  background-color: #eaeaea;
  height: 500px;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}
.sec3-cont {
  width: 100%;
}
.sec-heading {
  color: black;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
}
.sec3-imgs-cont {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.sec3-img {
  width: 10rem;
  height: auto;
}
