.timeline-sec {
  padding: 1rem 0;
}
.timeline-heading {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-align: center;
}
.timeline-cont {
  padding: 2rem 0;
}
.timeline-item-li {
  list-style: none;
  border-left: 1px solid black;
  position: relative;
  width: 25rem;
}
.timeline-item-wrapper {
  padding: 1rem 0 1rem 1rem;
}
.timeline-pointer {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 50%;
  color: black;
  position: absolute;
  left: -1%;
  top: 6%;
}
.timeline-time {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
  width: fit-content;
  padding: 0.5rem;
  // background: #00ffa4;
  background: rgb(255, 252, 17);
  border-radius: 0.3rem;
}
.timeline-activity {
  font-size: 1.1rem;
  line-height: 1.5;
  padding-top: 0.5rem;
  letter-spacing: 0.04rem;
}

// news sec2
.news-sec2 {
  background-color: #fafafa;
  padding: 2rem 0;
}
.news-sec2-cont {
  width: 100%;
}
.news-sec2-heading {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
}
.news-sec2-imgs-cont {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.news-sec2-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-sec2-img {
  width: 10rem;
  height: 7rem;
}

// news links
.news-sec1 {
  padding: 1rem 0;
}
.press-rel-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}
.news-link-wrapper {
  padding: 2rem 0;
}
.news-date {
  font-weight: 300;
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  padding-bottom: 0.3rem;
}
.news-links {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  border-bottom: 5px solid rgb(255, 252, 17);
  line-height: 2;
  letter-spacing: 0.04rem;
  background: rgb(255, 252, 17);
}

// numbers
.numbers-sec {
  padding-top: 2rem;
}
.numbers-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  text-align: center;
}
